.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.headset{
	color: gray;
}
.search{
	color: white;
	font-size: 18px;
}
body{
	min-width: 1210px;
}

/* ·····································header···················· */
header{
	height: 35px;
	width: 100%;
	background: #eeeeee;
}
.header-main{
	height: 35px;
	width: 1200px;
	/* background: pink; */
	margin: 0px auto;
	line-height: 35px;
}
.header-main>span,.header-main>b{
	height: 35px;
	/* background: blue; */
	color: #cad3e1;
	margin-left: 60px;
	float: left;

}
.header-main>span>a,.header-main>b>a{
	text-decoration: none;
	color: #cc0000;
	font-size: 11px;
	margin-left: 10px;
	margin-right: 10px;
}
.header-main>b{
	margin-right: 10px;
	font-weight: normal;
	float: right;
}
.header-main>b>a{
	color: #747474;
}

/* ······································nav···················· */
nav{
	height: 146px;
	background: #f5f5f5;
}
.nav-top{
	width: 1200px;
	height: 110px;
	/* background: yellow; */
	margin: 0px auto;
	position: relative;
}
.nav-top>img{
	margin-top: 10px;
	width: 174px;
	height: 80px;
}
.nav-top>p{
	width: 562px;
	height: 38px;
	border-radius: 50px;
	border: 1px solid  #cc0000;
	/* margin-left: 64px; */
	position: absolute;
	left: 238px;
	top: 27px;
}
.nav-top>p>button{
	position: absolute;
	width: 69px;
	height: 38px;
	border-radius: 50px;
	border: 1px solid #cc0000;
	background: #cc0000;
	right: 0px;
	line-height: 38px;
	text-align: center;
}
.nav-top>p>button:hover{
	cursor: pointer;
	background: red;
	text-decoration: none;
}
.nav-right{
	width: 318px;
	height: 40px;
	/* background: blue; */
	position: absolute;
	right: 50px;
	top: 27px;
	cursor: pointer;
}
.nav-right>img{
	height: 40px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.nav-right>p{
	height: 38px;
	width: 138px;
	background: #f5f5f5;
	color: #666666;
	border: 1px solid #e4e4e4;
	border-radius: 50px;
	position: absolute;
	right:0px;
	font-size: 11px;
	cursor: pointer;
}
.nav-right>p>img{
	margin-left: 15px;
	margin-top: 6px;
	float: left;
}
.nav-right>p>span{
	margin-left: 9px;
	margin-top: 11px;
	float: left;
}
.nav-bottom{
	height: 36px;
	width: 1200px;
	margin: 0px auto;
	position: relative;
}
.nav-bottom>p{
	width: 142px;
	height: 36px;
	padding-left: 32px;
	background: #cc0000;
	color: white;
	font-size: 12px;
	line-height: 36px;
}
.nav-bottom>ul{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 175px;
}
.nav-bottom>ul>li{
	float: left;
	margin-left: 30px;

}
.nav-bottom>ul>li>a{
	text-decoration: none;
	font-size: 12px;
	color: #424242;
}
/* ·······································main···················· */
main{
	/* width: 1920px; */
	height: 450px;
	background: yellow;
	position: relative;
	overflow: hidden;
}
/* .main-center{
	width: 1200px;
	height: 450px;
	margin: 0px auto;
	position: relative;
} */
.main-over{
	height: 450px;
	width: 174px;
	position: absolute;
	top: 0px;
	left:350px;
	background: rgba(0, 0, 0, 0.3);
	z-index: 999;
}
.main-over>ul>li{
	width: 174px;
	height: 40px;
	/* background: red; */
	color: white;
	font-size: 12px;
	line-height: 40px;
	position: relative;
}
.main-over>ul>li:hover{
	cursor: pointer;
}
.main-over>ul>li>img{
	width: 16px;
	height: 16px;
	margin: 12px 9px;
	vertical-align: middle;
}
.main-over>ul>li>svg{
	position: absolute;
	right: 10px;
	top: 42%;
}
/* .main-over>ul>li>span{

} */
.main-over .current{
	background: white;
	color: #cc0000;
}
.main-box{
	width: 990px;
	height: 500px;
	position: absolute;
	left: 525px;
	top: 0px;
	z-index: 2;
	overflow: hidden;
}
/* .main-box>div{
	display: none;
} */
.main-box .left{
	background: #fafafa;
	width: 674px;
	height: 500px;
	float: left;

}
.main-box ol>li{
	float: left;
	width: 500px;
	height: 40px;
	margin-top: 20px;
	margin-left: 40px;
	font-size: 14px;
	color: #747474;
}
.main-box ol>li>b{
	float: left;
	width: 70px;
	display: inline-block;
}
.main-box ol>li>p{
	float: left: ;
	width: 400px;
	display: inline-block;
	border-bottom: 1px dashed black;
}
.main-box ol>li>p>u{
	text-decoration: none;
	margin-left: 10px;
}
.main-box ul{
	background: #fafafa;
	width: 294px;
	height: 500px;
	float: right;
	text-align: center;
	padding-left: 22px
}
.main-box ul>h3{
	font-size: 16px;
	font-weight: bold;
}
.main-box ul>li{
	width: 130px;
	height: 195px;
	float: left;
	margin-right: 12px;
	margin-top: 13px;
	background: white;
}
.main-box ul>li:hover,.main-box ul img:hover{
	box-shadow: 5px 5px 5px 2px #888888;
}
.main-box ul img{
	width: 130px;
	height: 120px;
}
.main-box ul p{
	font-size: 11px;
	height: 33px;
	line-height: 17px;
	overflow: hidden;
	/* background: yellow; */
}
.main-box ul span{
	color: #f60506;
    font-size: 14px;
    cursor: pointer;
    font-style: normal;
    display: block;
    text-align: center;
    margin-top: 16px;
}
/* <!--------------------------滚动 --> */
.now{
	background: white;
}
main>ul{
	width: 9999px;
	position: relative;
	/* z-index: 999; */
}
main>ul>li{
	float: left;
	/* z-index: 1; */
}
main>ul>li{
	cursor: pointer;
}
main>ol{
	/* 行内块宽高不设置，可以由内容来决定 */
	position: absolute;
	bottom: 22px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	/* 给顺序 */
}
main>ol>li{
	width: 10px;
	height: 10px;
	border: 2px solid rgba(255,255,255,0.5);
	float: left;
	margin-right: 8px;
	cursor: pointer;
	border-radius: 50px;
	/* background: red; */
}

/* ···································section···················· */
section{
	height: 867px;
	background: #f5f5f5;
	width: 100%;
}
.section-main{
	width: 1200px;
	height: 854px;
	margin: 0px auto;
	/* background: gray; */
}
.section-top{
	width: 1200px;
	height: 222px;
	/* background: lime; */
	padding-top: 17px;
}
.section-top>p,.section-bottom>p{
	width: 1200px;
	height: 24px;
	/* background: pink; */
	font-size: 18px;
	line-height: 24px;
	color: #9e7575;
	float: left;
}
.section-top>img{
	float: left;
	width: 295px;
	height: 180px;
	margin-top: 17px;
	margin-right: 6px;
}
.section-main img:hover{
	cursor: pointer;
	opacity: 0.7;
}
.section-top>img:nth-of-type(4){
	margin-right: 0px;
}
.section-bottom{
	width: 1200px;
	height: 628px;
	/* background: red; */
}

.section-bottom>p{
	margin-top: 17px;
	margin-bottom: 17px;
}
.section-bottom>img{
	float: left;
	margin-right: 10px;
}
.section-bottom>img:nth-of-type(3n){
	margin-right: 0px;
}
.section-bottom>img:nth-of-type(2),
.section-bottom>img:nth-of-type(3){
	margin-bottom: 10px; 
}
/* ·························content·································· */
.content{
	height: 3858px;
	background: #f5f5f5;
}
.content img:hover,.content-pic>ul>li:hover{
	cursor: pointer;
	opacity: 0.7;
	box-shadow: 10px 10px 5px #888888;
}
.content-fifloor,.content-secfloor,.content-thifloor,
.content-foufloor,.content-fifthfloor,.content-sixfloor{
	height: 643px;
	/* background: yellow; */
	width: 1200px;
	margin: 0px auto;
}
.content-fifloor>p,.content-secfloor>p,
.content-thifloor>p,.content-foufloor>p,
.content-fifthfloor>p,.content-sixfloor>p{
	float: left;
	height: 26px;
	width: 998px;
	/* background: lime; */
	margin-top: 36px;
	margin-bottom: 14px;
}
.content-fifloor>p>b,.content-secfloor>p>b,
.content-thifloor>p>b,.content-foufloor>p>b,
.content-fifthfloor>p>b,.content-sixfloor>p>b{
	height: 26px;
	width: 37px;
	background: #f90002;
	text-align: center;
    display: inline-block;
    line-height: 26px;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
}
.content-fifloor>p>span,.content-secfloor>p>span,
.content-thifloor>p>span,.content-foufloor>p>span,
.content-fifthfloor>p>span,.content-sixfloor>p>span{
	margin-left: 14px;
	font-size: 14px;
    font-family: "黑体";
    color: #757575
}
.content-fifloor>p>i,.content-secfloor>p>i,
.content-thifloor>p>i,.content-foufloor>p>i,
.content-fifthfloor>p>i,.content-sixfloor>p>i{
	margin-left: 14px;
    height: 26px;
    color: #757575;
    line-height: 26px;
    font-size: 12px;
    cursor: pointer;
    font-style: normal;
}
.content-pic{
	height: 567px;
	width: 1200px;
	/* background: red; */
	float: left;
}
.content-pic>img:nth-of-type(1){
	margin-right: 12px;
	float: left;
}
.content-pic>img:nth-of-type(2){
	margin-right: 9px;
	float: left;
}
.content-pic>ul{
	width: 619px;
	height: 567px;
	/* background: lime; */
	float: right;
}
.content-pic>ul>li{
	width: 200px;
	height: 280px;
	float: left;
	margin-right: 9px;
	background: #fff;
}
.content-pic>ul>li:nth-of-type(3n){
	margin-right: 0px;
}
.content-pic>ul>li:nth-of-type(1),
.content-pic>ul>li:nth-of-type(2),
.content-pic>ul>li:nth-of-type(3){
	margin-bottom: 7px;
}
.content-pic>ul>li img{
	width: 170px;
	height: 170px;
}
.pic-box{
	width: 170px;
	height: 170px;
	padding: 15px;
}
.content-pic>ul a{
	text-decoration: none;
	color: #3e3a39;
    font-size: 14px;
	display: block;
    overflow: hidden;
    margin-top: 6px;
    text-align: center;
    width: 180px;
    height: 17px;
    padding: 0px 10px;
}
.content-pic>ul b{
    color: #979797;
    font-size: 12px;
    width: 180px;
    height: 14px;
    display: block;
    overflow: hidden;
    margin-top: 6px;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
}
.content-pic>ul i{
	color: #FF4D4F;
    font-size: 14px;
    cursor: pointer;
    font-style: normal;
    display: block;
    text-align: center;
    margin-top: 10px;
}
/* ···································aside···················· */
aside{
	position: fixed;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	width: 60px;
	height: 262px;
}
aside>ol>li{
    display: block;
    border: 1px solid #dedede;
    line-height: 34px;
    color: #ed5759;
    overflow: hidden;
    margin-bottom: 2px;
    text-align: center;
    cursor:pointer;
}
aside>ol>li:hover{
	background: #fdeeee;
}
.asi{
	width: 58px;
	height: 68px;
	background: #fdeeee;
	border: 1px solid #ed5759
}
/* ···································footer···················· */
footer{
	height: 1242px;
	width: 100%;
	background: #f5f5f5;
}
.footer-main{
	width: 1200px;
	height: 1242px;
	/* background: pink; */
	margin: 0px auto;
}
.footer-main>p{
	width: 1200px;
	/* background: blue; */
	font-size: 12px;
	line-height: 40px;
	color: #747474;
	float: left;
	margin-top: 10px;
}
.footer-main>ul>li{
	float: left;
	width: 280px;
	height: 198px;
	background: white;
	margin-right: 26px;
	position: relative;
}
.footer-main>ul>li>h4{
	padding-top: 10px;
	font-size: 14px;
    color: #666666;
    text-align: center;
}
.footer-main>ul>li>h5{
	padding-bottom:10px;
	font-size: 12px;
    color: #999999;
	text-align: center;
}
.footer-main>ul>li:nth-of-type(4){
	float: right;
	margin-right: 0px;
}
.footer-main>ul>li>img{
	width: 280px;
	height: 140px;
}
.footer-main>ul>li>a>svg:hover{
	cursor: pointer;
}
.footer-main>ul>li>a{
	width: 52px;
	height: 31px;
	display: inline-block;
    position: absolute;
    bottom: 68px;
    left: 8px;
}
.footer-main>ul>li>a>svg{
	width: 52px;
	height: 31px;
	color: white;
}
.footer-main>img{
	margin-top: 30px;
	margin-bottom: 26px;
}
.footer-pic{
	height: 142px;
	background: white;
	border-bottom: 1px solid #e2e2e2;
}
.footer-pic>ul{
	padding: 40px 0px;
}
.footer-pic>ul>li{
	float: left;
	background: white;
	width: 249px;
	padding: 0px 25px;
	border-right: 1px solid #e2e2e2;
}
.footer-pic>ul>li:nth-of-type(4){
	border-right: 1px solid white;
}
.footer-bottom{
	height: 191px;
	width: 960px;
	background: #fff;
	padding: 37px 90px 0px 150px;
}
.footer-bottom>dl{
	float: left;
	width: 135px;
	height: 190px;
	line-height: 15px;
}
.footer-bottom>dl>dt{
	float: left;
	width: 90px;
	font-size: 14px;
	font-weight: bold;
	color: #525252;
	/* display: inline-block; */
	margin-bottom: 18px;
}
.footer-bottom>dl>dd{
	float: left;
	width: 120px;
	margin-bottom: 12px;
}
 .footer-bottom>dl>dd>a{
 	text-decoration: none;
 	color: #b2b2b2;
 	font-size: 11px; 
 	display: block;
 }   
.footer-foot{
	height:56px;
	/* background: red; */
	padding: 66px 0px 30px 21px;
	background: white;
}
.footer-foot>div{
	width: 1179px;
	height: 56px;	
}
.footer-foot>div>p{
	font-size: 12px;
	color: #b2b2b2;
}
